<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.osg.movieapppractice">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MovieAppPractice"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieAppPractice"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable">
        <activity android:name="com.osg.movieapppractice.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.osg.movieapppractice.ui.tab.TabsActivity" />
        <activity android:name="com.osg.movieapppractice.ui.moviedetail.MovieDetailActivity" />
        <activity android:name="com.osg.movieapppractice.ui.moviemain.MovieMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>